<!DOCTYPE html>
<html>
<title>Michael Brooks</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="static/css/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
body, h1,h2,h3,h4,h5,h6 {font-family: "Montserrat", sans-serif}
.w3-row-padding img {margin-bottom: 12px}
.bgimg {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url('static/michael_brooks.jpg');
    min-height: 100%;
}
</style>
<body>

<!-- Sidenav with image -->
<nav class="w3-sidenav w3-hide-medium w3-hide-small" style="width:40%">
  <div class="bgimg"></div>
</nav>

<!-- Hidden Sidenav (reveals when clicked on menu icon)-->
<nav class="w3-sidenav w3-black w3-animate-right w3-center w3-xxlarge" style="display:none;padding-top:150px;right:0;z-index:2" id="mySidenav">
  <a href="javascript:void(0)" onclick="closeNav()" class="w3-closenav w3-xxxlarge w3-display-topright" style="padding:0 12px;">
    <i class="fa fa-remove"></i>
  </a>

  <a href="#" 
     class="w3-text-grey w3-hover-black" onclick="closeNav()">Home</a>
{% if podcast %}
  <a href="#about" 
     class="w3-text-grey w3-hover-black" onclick="closeNav()">Latest</a>
{% endif %}
  <a href="#about" 
     class="w3-text-grey w3-hover-black" onclick="closeNav()">About</a>
  <a href="#2_dope_boys" 
     class="w3-text-grey w3-hover-black" onclick="closeNav()">2 Dope Boys</a>
  <a href="#majorityfm" 
     class="w3-text-grey w3-hover-black" onclick="closeNav()">MajorityFM</a>
  <a href="#strategy" 
     class="w3-text-grey w3-hover-black" onclick="closeNav()">Strategy</a>
  <a href="#contact" 
     class="w3-text-grey w3-hover-black" onclick="closeNav()">Contact</a>
  <a href="#support" 
     class="w3-text-grey w3-hover-black" onclick="closeNav()">Support</a>

</nav>

<!-- Page Content -->
<div class="w3-main w3-padding-large" style="margin-left:40%">

  <!-- Menu icon to open sidenav -->
  <span class="w3-opennav w3-top w3-padding-top w3-xxlarge w3-margin-right w3-text-grey w3-hover-text-black" style="width:auto;right:0;" onclick="openNav()"><i class="fa fa-bars"></i></span>

  <!-- Header -->
  <header class="w3-container w3-padding-128 w3-center" id="home">
    <h1 class="w3-jumbo"><b>Michael Brooks</b></h1>
    <p>Political Analyst & Strategist</p>
    <img src="static/michael_brooks.jpg" class="w3-image w3-hide-large w3-hide-small w3-round" style="display:block;width:60%;margin:auto;">
    <img src="static/michael_brooks.jpg" class="w3-image w3-hide-large w3-hide-medium w3-round" width="1000" height="1333">
  </header>

{% if podcast %}
  <!-- Latest Section -->
  <div class="w3-content w3-justify w3-text-grey w3-padding-32" id="about">
    <h2>Latest</h2>
    <hr class="w3-opacity">
    <h3>{{podcast}}</h3>
    <h4>{{pubDate}}</h4>

    <audio preload="auto" controls="controls" src="{{link}}" style="float: left;"></audio>

    <br/>
    <br/>

    <p>{{description}}</p> 
  <!-- End About Section -->
  </div>
{% endif %}

  <!-- About Section -->
  <div class="w3-content w3-justify w3-text-grey w3-padding-32" id="about">
    <h2>About</h2>
    <hr class="w3-opacity">
    <p>I'm the co-host of <a href="http://www.twodopeboyspod.com" target="_blank">2 Dope Boys & a Podcast</a> (named a top ten best business podcast by INC) and a contributor and Monday host of the four-time award-winning progressive political talk show The Majority Report. I've been a guest analyst on <a href="https://www.youtube.com/watch?v=SS3szAeJ8Tg&t=778s" target="_blank">The Young Turks</a>, Al Jazeera, <a href="https://www.youtube.com/watch?v=boNOGwJboUE&t=32s" target="_blank">CCTV</a> and France 24. Written words for Al Monitor, the Washington Post and PSFK. I also do a lot of questionable impressions from <a href="https://www.youtube.com/watch?v=ZWyzGtv5jSQ" target="_blank">"Maoist Bernie"</a> to Right Wing Mandela.</p>
    <p>As a strategist, I've worked with brands and non-profits to create cultural insight and anthropologically grounded research. I studied at Middle East Technical University in Ankara Turkey and I have a BA from Bates College in international politics.</p> 
  <!-- End About Section -->
  </div>

  <!-- 2 Dope Boys Section -->
  <div class="w3-content w3-justify w3-text-grey w3-padding-32" id="2_dope_boys">
    <h2>2 Dope Boys</h2>
    <hr class="w3-opacity">
    <p><a href="http://www.twodopeboyspod.com/" target="_blank">2 Dope Boys & a Podcast</a> is a twice weekly trend, research and insight show co-hosted by Michael Brooks and Phil Mckenzie. It's an entertaining, irreverent and smart look at race, economics and how to build a smarter, fairer and more interesting future. <a href="https://itunes.apple.com/us/podcast/2-dope-boys-a-podcast/id1091130274?mt=2" target="_blank">Subscribe here!</a> Or check us out on <a href="http://stitcher.com/podcast/2-dope-boys-and-a-podcast" target="_blank">Stitcher!</a></p>
  <!-- 2 Dope Boys Section -->
  </div>

  <!-- MajorityFM Section -->
  <div class="w3-content w3-justify w3-text-grey w3-padding-32" id="majorityfm">
    <h2>MajorityFM</h2>
    <hr class="w3-opacity">
    <p>You can hear me five days a week and in the captain's chair on the four-time award-winning <a href="http://majority.fm/report/" target="_blank">Majority Report</a>. We are independent and left wing. Check out some of my work for MR: <a href="https://www.youtube.com/watch?v=RoU5Xe0z8n4&t=337s" target="_blank">here</a> and <a href="https://www.youtube.com/watch?v=IdY17jSiXlI&t=14s" target="_blank">here</a>.</p>
  <!-- End MajorityFM Section -->
  </div>


  <!-- Strategy Section -->
  <div class="w3-content w3-justify w3-text-grey w3-padding-32" id="strategy">
    <h2>Strategy</h2>
    <hr class="w3-opacity">
    <ol>
      <li>My 2 Dope Boys & a podcast co-host Phil Mckenzie and I provide <a href="http://www.twodopeboyspod.com/consulting/" target="_blank">brand consulting</a> services that are anchored in anthropological perspectives and insight. Through strategic planning, brainstorming, group facilitation and events we work with brands to discover the patterns, values, and cultures at play in their markets and communities.</li>
      <li>I also work as a political advisor for NGOs and campaigns working for large-scale progressive change. Harnessing my skills as a content creator to help you create better content, more compelling stories, and faster organizing opportunities.</li>
      <li>I work with individuals and organizations who want to create podcasts and YouTube content. I advise on show planning, segment ideas and sometimes act as a host to help facilitate and professionalize your shows.</li>
    </ol>
  <!-- End Strategy Section -->
  </div>



  <!-- Contact Section -->
  <div class="w3-content w3-justify w3-text-grey w3-padding-32" id="contact">
    <h2>Contact</h2>
    <hr class="w3-opacity">
    <p>You can reach me through email or over any of my social feeds to book appearances. I also give keynotes and participate in panels, contact me for more information.</p>
  <!-- End Contact Section -->
    <div class="w3-container w3-center w3-xlarge" id="social">
    
      <a href="mailto:michael.majority@gmail.com" target="_blank"><i class="fa fa-envelope fa-fw w3-xxlarge w3-hover-text-red"></i></a>

      <a href="https://www.instagram.com/michaeljamalbrooks/?hl=en" target="_blank"><i class="fa fa-instagram fa-fw w3-xxlarge w3-hover-text-purple"></i></a>



      <a href="https://twitter.com/_michaelbrooks" target="_blank"><i class="fa fa-twitter fa-fw w3-xxlarge w3-hover-text-light-blue"></i></a>

      <a href="https://www.linkedin.com/in/michael-brooks-911a9225" target="_blank"><i class="fa fa-linkedin fa-fw w3-xxlarge w3-hover-text-indigo"></i></a>
    </div>

  </div>  

  <!-- Support Section -->
  <div class="w3-padding-32 w3-content w3-text-grey" id="support" style="margin-bottom:64px">
    <h2>Support</h2>
    <hr class="w3-opacity">
    <p>You can support me doing my work <a href="https://www.paypal.com/cgi-bin/webscr?cmd=_donations&business=ZNYCY6F6SYVVL&lc=US&item_name=Michael%20Brooks&currency_code=USD&bn=PP%2dDonationsBF%3abtn_donateCC_LG%2egif%3aNonHosted" target="_blank">here</a>. Any and all donations help support the work and the process. Thank you so much!</p>
  <!-- End Support Section -->
  </div>



  <!-- Footer -->
  <footer class="w3-container w3-padding-64 w3-light-grey w3-center w3-opacity w3-xlarge" style="margin:-24px">
    <p class="w3-medium">Powered by <a href="http://www.w3schools.com/w3css/default.asp" target="_blank" class="w3-hover-text-green">w3.css</a></p>
  <!-- End footer -->
  </footer>
  
<!-- END PAGE CONTENT -->
</div>


<script>

// Open and close sidenav
function openNav() {
    document.getElementById("mySidenav").style.width = "60%";
    document.getElementById("mySidenav").style.display = "block";
}

function closeNav() {
    document.getElementById("mySidenav").style.display = "none";
}
</script>

</body>
</html>

