{% extends 'base.html' %}
{% block content %}
<img src="media/anonymous_profile.jpg" alt="Anonymous" style="width:304px;height:228px;">

<p>I'm the co host of 2 Dope Boys &amp; a Podcast (named a top ten best business podcast by INC) and a contributor and Monday host of the four time award winning progressive political talk show The Majority Report. I've been a guest analyst on The Young Turks, Al Jazeera, CCTV and France 24. Written words for Al Monitor, the Washington Post and PSFK. I also do a lot of questionable impressions from "Maost Bernie" "to Right Wing Mandela".</p>
<p>
As a strategist I've worked with brands and non-profits to create cultural insight and anthropologically grounded research. I studied at Middle East Technical University in Ankara Turkey and I have a BA from Bates College in international politics.
</p>
{% endblock %}
