<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="static/css/basestyle.css">
        <script src="static/js/base.js" type="text/javascript"></script>
    </head>
    <body>
        <title>Michael Brooks</title>
        <h1>Michael Brooks</h1>
        <h2>Political Strategist</h2>
        <div id="navigation">
            <ul class="topnav" id="topnav">
              <li><a href="/about">About</a></li>
              <li><a href="/shows.html">Shows</a></li>
              <li><a href="/donate.html">Donate</a></li>
              <li class="icon" id="topnav_list">
                  <a href="javascript:void(0);" onclick="myFunction()">&#9776;</a>
              </li>
            </ul>
        </div>
        <div id="content">
            {% block content %}{% endblock %}
        </div>
    </body>
</html>
