<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" type="text/css" href="static/css/basestyle.css">
</head>
<body>
    <title>
        Michael Brooks
    </title>
    <div class="center">
        <h1>Michael Brooks</h1>
        <h2>Coming Soon</h2>
    </div>
</body>
<ul class="topnav" id="myTopnav">
  <li><a href="#home">Home</a></li>
  <li><a href="#news">News</a></li>
  <li><a href="#contact">Contact</a></li>
  <li><a href="#about">About</a></li>
  <li class="icon">
    <a href="javascript:void(0);" onclick="myFunction()">&#9776;</a>
  </li>
</ul>
<script>
function myFunction() {
    var x = document.getElementById("myTopnav");
    if (x.className === "topnav") {
        x.className += " responsive";
    } else {
        x.className = "topnav";
    }
}
</script>
</html>
