{% extends 'base.html' %}

{% block content %}
    <link rel="stylesheet" type="text/css" href="static/css/accordion.css">
    {% for show in shows %}

        <button class="accordion">{{show}}</button>
        <div class="panel">
        {% for podcast in show.podcasts %}
          <h2>{{podcast.title}}</h2>
          <h3>{{podcast.air_date}}</h3>
          <audio preload="auto" controls="controls" src="{{podcast.host}}"></audio>
        {% endfor %}
        {% for video in show.videos %}
            <p><a href="api/videos/{{video.pk}}/highlight">{{ video.title }}</a></p>
        {% endfor %} 
        </div>
        
    {% endfor %}
    <script src="static/js/accordion.js" type="text/javascript"></script>

{% endblock %}
